body {
  margin: 0;
  padding: 0;
}

#g-header {
  height: 200px;
}

#g-container h1.m-page-title {
  margin: 1em 0;
  text-align: center;
  font-size: 52px;
  color: orchid;
  font-family: monospace;
}
