body {
  margin: 0;
  padding: 0 10px;
}

#g-header {
  background: url(../images/background-header.jpg) no-repeat center top;
  height: 200px;
}

#g-container {
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.8em;
}

#g-container h1.m-page-title {
  margin: 1em 0;
  text-align: center;
  font-size: 3em;
  color: orchid;
  font-family: monospace;
}
